*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --gray-100: #515151;
  --gray-200: #434343;
  --gray-300: #333333;
  --gray-900: #181818;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.App {
  height: 100%;
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  flex-direction: column;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
body {
  display: block;
  background-color: #fff;
  height: 100%;
}

.header-wrapper {
  user-select: none;
  width: 80%;
  margin: auto;
  height: 200px;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  letter-spacing: 0em;
  position: relative;
}

.header-title {
  font-size: 3rem;
  font-weight: 400;
  font-family: Abel, sans-serif;
  color: var(--gray-300);
}

.header-nav {
  width: 100%;
  gap: 2rem;
}

.nav-item {
  padding-top: 1rem;
  font-family: Noto Sans, sans-serif;
  position: relative;
}

.nav-item a {
  font-size: 1.5rem;
}
.mobile-modal-overlay {
  background-color: rgba(15, 15, 15, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.mobile-navbar {
  margin-top: 10rem;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  place-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.mobile-item a {
  font-size: 1.25rem !important;
  font-weight: 400;
}

.navbar-modal {
  z-index: 9999;
  border: 1px solid black;
  position: fixed;
  width: 80%;
  top: 0;
  left: 0;
  margin-left: -25rem;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  transition: margin-left 0.25s ease-in-out;
}

.navbar-modal-active {
  margin-left: 0;
}

.photo-modal {
  position: absolute;
  z-index: 10000000;
  display: block;
  isolation: isolate;
  width: 100vw;
  height: 100vh;
}

.photo-modal-content {
  width: 70%;
  height: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  margin-bottom: 3rem;
  z-index: 99999;
}

.modal-image {
  background-color: transparent;
  max-height: 95%;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
  height: auto;
  display: block;
  box-shadow: 1px 3px 7px black;
  margin-bottom: 3rem;
}

.modal-image img {
  display: block;
  width: 100%;
  height: 100%;
}
.photo-modal-overlay {
  z-index: 9999;
}

.menu-icon {
  z-index: 999;
  object-fit: cover;
  position: absolute;
  top: 90px;
  left: 25px;
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.menu-icon:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-icon img {
  width: 100%;
  height: 100%;
}

.button-to-top {
  font-family: Noto Sans, sans-serif;
  font-size: 1rem;
  position: fixed;
  color: black;
  display: flex;
  right: 3rem;
  bottom: 12rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.button-scroller {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid var(--gray-100);
  position: absolute;
  background-color: transparent;
}

.grid-photo-wrapper {
  display: flex;
  place-items: center;
  margin: auto;
  padding: 5rem;
  width: 100%;
  height: 80%;
  gap: 30px;
  flex-wrap: wrap;
}

.grid-photo-item {
  width: 28%;
  min-width: 500px;
  transition: all 0.2s ease-in-out;
  filter: brightness(100%);
  box-shadow: 1px 3px 7px rgba(15, 15, 15, 0.7);
}

.grid-photo-item img {
  background-color: rgba(15, 15, 15, 0.7);
  display: block;
  height: 100%;
  width: 100%;
}

.album-photo-wrapper {
  display: flex;
  justify-content: center;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.album-card {
  width: 25%;
  height: 280px;
  min-width: 300px;
  box-shadow: 1px 3px 7px black;
  border-radius: 25px;
  object-position: 50% 30%;
  overflow: hidden;
  transition: all 0.33s ease-in-out;
  position: relative;
  text-align: center;
}

.album-card img {
  transition: all 0.2s ease-in-out;
}
.album-card-title {
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 1.5rem;
  height: 60px;

  background-color: rgba(15, 15, 15, 0.7);
  width: 100%;
  position: absolute;
  color: whitesmoke;
  z-index: 5;
  bottom: 20px;
}

.album-card:active {
  transform: scale(1.1);
}

.album-card:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 3px 14px black;
}

.progressive-load {
  transition: transform 0.25s ease-in-out;
}

.progressive-load img:hover {
  scale: (1.2);
}

.grid-album img {
  width: 100%;
}

.grid-photo-item:hover {
  filter: brightness(60%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about-wrapper {
  font-family: Noto sans, sans-serif;
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 2rem;
  color: var(--gray-200);
  font-family: Noto Sans, sans-serif;
  padding-top: 2rem;
  font-family: Noto sans, sans-serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin-left: auto;
  margin-right: auto;
}

.about-description {
  width: 60%;
  padding-inline: 1rem;
}

.about-description p {
  padding-top: 0.5rem;
}
.about-content {
  padding-top: 3rem;
  padding-inline: 0.5rem;
  display: flex;
  justify-content: center;
}

.about-image {
  margin-left: auto;
  display: flex;
  justify-content: center;
  place-items: center;
  margin-left: auto;
  width: 40%;
  margin-left: 1rem;
}

.about-image img {
  display: block;
  width: 100%;
  min-width: 220px;
}

.thumbnail-title {
  color: var(--gray-200);
  text-align: center;
  width: 100%;
  height: 50px;
  font-family: Noto Sans, sans-serif;
  font-size: 1rem;
}

.album-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  text-align: center;
  place-items: center;
  justify-content: center;
  overflow: wrap;
}

.album-header {
  display: flex;
  text-align: center;
  place-items: center;
}
.album-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: Abel, sans-serif;
  color: var(--gray-200);
}

.previous-page-button {
  box-shadow: 1px 3px 7px var(--gray-100);
  background-color: var(--gray-300);
  font-family: Abel, sans-serif;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 255px;
  right: 5%;
  width: 10%;
  min-width: 100px;
  height: 60px;
  border-radius: 5px;
  bottom: 5rem;
  transition: background-color 0.45s ease-in-out;
}
.previous-page-button:active {
  background-color: var(--gray-100);
}
.previous-page-button:hover {
  filter: brightness(90%);
}

.loading {
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: calc(100vh - 300px);
  gap: 10px;
}

.spinner-center {
  height: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  padding-top: 10rem;
}

.spinner {
  width: 64px;
  height: 64px;
  margin-inline: auto;
  border-radius: 50%;
  border: 12px solid;
  border-color: #dbdcef;
  border-right-color: #67698c;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
.modal-photo {
  box-shadow: 1px 3px 7px black;
}

.footer-wrapper {
  margin-top: 5rem;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
}

.social-networks {
  margin-left: 5rem;
  width: 75px;
  height: 75px;
}

.social-icon {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 50px;
  height: 50px;
}
.social-icon img {
  width: 100%;
  height: 100%;
  display: block;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 760px) {
  .grid-photo-wrapper {
    padding-top: 2rem;
  }
  .grid-photo-item {
    min-width: 300px;
  }

  .grid-small {
    min-width: 200px;
  }

  .header-nav {
    margin-top: -3rem;
    padding-bottom: 1rem;
    gap: 10px;
  }

  .header-title {
    font-size: 2rem;
  }
  .header-nav a {
    font-size: 1rem;
  }

  .about-title {
    padding: 0;
    font-size: 1.75rem;
  }
  .about-description {
    padding-top: 2rem;
    width: 100%;
  }

  .about-image img {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
  }

  .previous-page-button {
    position: absolute;
    font-size: 1rem;
    width: 70px;
    top: 100px;
    height: 50px;
    right: 5%;
  }

  .modal-image {
    height: auto;
    overflow: hidden;
    animation: modalLoad 0.5s ease-in-out;
  }

  @keyframes modalLoad {
    0% {
      opacity: 0;
      scale: (0);
    }
    100% {
      scale: (1);
      opacity: 1;
    }
  }

  .social-icon {
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
  }
  .about-content {
    flex-direction: column;
  }

  .about-wrapper {
    margin-top: 2rem;
    flex-direction: column;
  }
  .about-image {
    max-width: 500px;
    min-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .grid-photo-wrapper {
    padding-top: 1rem;
  }
  .grid-photo-item {
    min-width: 250px;
  }

  .button-to-top {
    width: 5vh;
    height: 5vh;
    right: 1rem;
    bottom: 3rem;
  }
  .header-title {
    font-size: 1.5rem;
  }

  .about-wrapper {
    margin-top: -3rem;
  }

  .about-title {
    font-size: 1.25rem;
  }

  .about-description p {
    font-size: 0.75rem;
  }

  .album-card {
    min-width: 280px;
  }

  .album-thumbnail {
    display: block;
    margin-top: 3rem;
    height: 100%;
  }

  .loading-dot {
    width: 25px;
    height: 25px;
  }

  .album-header {
    font-size: 0.75rem;
    text-align: left;
  }
  .album-title {
    margin-top: 0;
    font-size: 1.5rem;
    width: 100%;
  }

  .previous-page-button {
    position: absolute;
    font-size: 0.75rem;
    width: 60px;
    height: 35px;
    top: 100px;
    right: 5%;
  }
  .social-icon {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
  }

  .about-wrapper p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .about-wrapper p:last-child {
    margin-bottom: 5rem;
  }

  .album-photo-wrapper {
    padding-top: 2rem;
    padding-inline: 1rem;
  }
}
