*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --gray-100: #515151;
  --gray-200: #434343;
  --gray-300: #333333;
  --gray-900: #181818;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.App {
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  flex-direction: column;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
body {
  display: block;
  background-color: #fff;
}

.header-wrapper {
  user-select: none;
  width: 80%;
  margin: auto;
  height: 200px;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;
}
.header-container * {
  text-decoration: none;
  letter-spacing: 0em;
}

.header-title {
  font-size: 3rem;
  font-weight: 400;
  font-family: Abel, sans-serif;
  color: var(--gray-900);
}

.header-nav {
  width: 100%;
  gap: 2rem;
}

.nav-item {
  padding-top: 2rem;
  font-family: Noto Sans, sans-serif;
  position: relative;
}

.nav-item a {
  font-size: 1.5rem;
}

.mobile-navbar {
  margin-top: 10rem;
  gap: 20px;
}
.mobile-item a {
  font-size: 1.25rem !important;
  font-weight: 400;
}

.navbar-modal {
  z-index: 9999;
  border: 1px solid black;
  position: fixed;
  width: 80%;
  top: 0;
  left: 0;
  margin-left: -25rem;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  transition: margin-left 0.25s ease-in-out;
}

.navbar-modal-active {
  margin-left: 0;
}

.modal-overlay {
  z-index: 9998;
  user-select: none;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu-icon {
  z-index: 99999;
  object-fit: cover;
  position: absolute;
  top: 90px;
  left: 25px;
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.menu-icon:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-icon img {
  width: 100%;
  height: 100%;
}

.button-to-top {
  font-family: Noto Sans, sans-serif;
  font-size: 1rem;
  position: fixed;
  color: black;
  display: flex;
  right: 3rem;
  bottom: 12rem;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.button-scroller {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid var(--gray-100);
  position: absolute;
  background-color: transparent;
}

.grid-photo-wrapper {
  display: flex;
  place-items: center;
  margin: auto;
  padding: 5rem;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
}

.grid-photo-item {
  width: 28%;
  min-width: 500px;
  transition: all 0.2s ease-in-out;
  filter: brightness(100%);
  box-shadow: 1px 3px 7px rgba(15, 15, 15, 0.7);
}

.grid-photo-item img {
  display: block;
  height: 100%;
  width: 100%;
}

.album-photo-wrapper {
  display: flex;
  justify-content: center;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}

.album-container {
  display: grid;
  text-align: center;
  grid-template-rows: 80% 20%;
  width: 30%;
  height: 300px;
  object-fit: stretch;
  overflow: hidden;
  min-width: 300px;
  border-radius: 25px;
  filter: brightness(100%);
  box-shadow: 1px 3px 7px var(--gray-200);
  transition: all 0.2s ease-in-out;
  min-width: 420px;
}

.album-container:active {
  filter: scale(1.2);
}
.album-thumbnail {
  text-align: center;
}
.album-thumbnail img {
  width: 100%;
  margin-top: -3rem;
}

.album-container h1 {
  font-family: Noto Sans, sans-serif;
  font-size: 1.25rem;
  margin-top: -1rem;
  padding-top: 0.5rem;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  animation: scale 0.2s infinite;
}

.album-container:hover {
  transform: scale(1.1);
  color: white;
}

.album-container:hover {
  filter: brightness(70%);
}

.grid-album img {
  width: 100%;
}

.album-container::before {
  content: "";
  position: absolute;
  border-bottom: 70px solid transparent;
  border-left: 500px solid rgba(15, 15, 15, 0.7);
}

.grid-photo-item:hover {
  filter: brightness(60%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about-wrapper {
  height: 100%;
  display: flex;
  place-items: center;
  margin: auto;
  width: 100%;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding-top: 2rem;
}

.about-title {
  width: 80%;
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
}

.about-description {
  padding-top: 2rem;
  display: flex;
  text-align: center;
  place-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}

.about-image {
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.7);
  margin-left: auto;
  display: flex;
  justify-content: center;
  place-items: center;
  margin-right: auto;
  width: 37%;
}

.about-image img {
  width: 100%;
  min-width: 220px;
}
.about-description p {
  width: 55%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: Noto Sans, sans-serif;
  font-size: 1.25rem;
}

.about-title {
  font-size: 3rem;
  color: var(--gray-200);
  font-family: Noto Sans, sans-serif;
}

.thumbnail-title {
  color: var(--gray-200);
  text-align: center;
  width: 100%;
  height: 50px;
  font-family: Noto Sans, sans-serif;
  font-size: 1rem;
}

.album-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  justify-content: center;
  overflow: wrap;
}

.album-title {
  margin-top: 3rem;
  font-size: 3rem;
  font-family: Abel, sans-serif;
  color: var(--gray-200);
}

.previous-page-button {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  bottom: 5rem;
  transition: all 0.45s ease-in-out;
}
.previous-page-button:active {
  background-color: var(--gray-100);
}
.previous-page-button:hover {
  filter: brightness(90%);
}

.loading {
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: calc(100vh - 300px);
  gap: 10px;
}

.loading-dot {
  width: 50px;
  padding-top: -5rem;
  height: 50px;
  border-radius: 50%;
  background-color: var(--gray-100);
  animation: bounce 1s ease-in-out infinite;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.9);
}

.loading-dot:nth-child(2) {
  animation-delay: 0.1s;
}
.loading-dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    margin-top: -5rem;
  }
  50% {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 760px) {
  .grid-photo-wrapper {
    padding-top: 2rem;
  }
  .grid-photo-item {
    min-width: 300px;
  }

  .grid-small {
    min-width: 200px;
  }

  .header-nav {
    gap: 10px;
  }

  .header-title {
    font-size: 2rem;
  }
  .header-nav a {
    font-size: 1rem;
  }

  .about-title {
    font-size: 1.75rem;
  }
  .about-description {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .about-image img {
    width: 100%;
  }

  .about-description p {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    width: 90%;
    font-size: 1rem;
  }

  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
}

@media screen and (max-width: 480px) {
  .grid-photo-wrapper {
    padding-top: 1rem;
  }
  .grid-photo-item {
    min-width: 250px;
  }

  .button-to-top {
    width: 5vh;
    height: 5vh;
    right: 1rem;
    bottom: 3rem;
  }
  .header-title {
    font-size: 1.5rem;
  }

  .about-wrapper {
    margin-top: -3rem;
  }

  .about-title {
    font-size: 1.25rem;
  }

  .about-description p {
    font-size: 0.75rem;
  }

  .album-container {
    min-width: 275px;
  }

  .album-thumbnail {
    display: block;
    margin-top: 3rem;
    height: 100%;
  }

  .loading-dot {
    width: 25px;
    height: 25px;
  }

  .album-title {
    margin-top: 0;
    font-size: 1.5rem;
    width: 100%;
  }
}
